.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sectionHome {
  background-color: chartreuse;
  height: 100vh;
}

.sectionDestino {
  background-color: darkred;
  height: 600px;
}

